# Phoenix DB Client Example

## You can load a dataset into a Phoenix table via the PhoenixDB library

##### First, create a database connection. Notice Phoenix credentials are saved into your CML Project as environment variables.

##### To add yours, navigate to Project Settings -> Advanced -> Add the variables for your user and restart the CML session.

In [11]:
!pip3 install -r requirements.txt

Requirement already satisfied: pandas in ./.local/lib/python3.6/site-packages (from -r requirements.txt (line 1)) (1.1.5)
Collecting phoenixdb
  Downloading phoenixdb-1.0.1-py3-none-any.whl (66 kB)
     |████████████████████████████████| 66 kB 576 kB/s  eta 0:00:01
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/site-packages (from pandas->-r requirements.txt (line 1)) (2.8.1)
Requirement already satisfied: numpy>=1.15.4 in ./.local/lib/python3.6/site-packages (from pandas->-r requirements.txt (line 1)) (1.19.5)
Requirement already satisfied: pytz>=2017.2 in ./.local/lib/python3.6/site-packages (from pandas->-r requirements.txt (line 1)) (2021.1)
Collecting requests-gssapi
  Downloading requests-gssapi-1.2.3.tar.gz (19 kB)
Collecting SQLAlchemy
  Downloading SQLAlchemy-1.4.18-cp36-cp36m-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.5 MB)
     |████████████████████████████████| 1.5 MB 68.1 MB/s eta 0:00:01
Requirement already satisfied: requests in /usr/local/lib/python3.6/site-packages (from phoenixdb->-r requirements.txt (line 2)) (2.24.0)
Collecting protobuf>=3.0.0
  Downloading protobuf-3.17.3-cp36-cp36m-manylinux_2_5_x86_64.manylinux1_x86_64.whl (1.0 MB)
     |████████████████████████████████| 1.0 MB 84.8 MB/s eta 0:00:01
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/site-packages (from python-dateutil>=2.7.3->pandas->-r requirements.txt (line 1)) (1.15.0)
Collecting gssapi
  Downloading gssapi-1.6.13.tar.gz (1.1 MB)
     |████████████████████████████████| 1.1 MB 71.9 MB/s eta 0:00:01
Requirement already satisfied: importlib-metadata; python_version < "3.8" in /usr/local/lib/python3.6/site-packages (from SQLAlchemy->phoenixdb->-r requirements.txt (line 2)) (2.0.0)
Collecting greenlet!=0.4.17; python_version >= "3"
  Downloading greenlet-1.1.0-cp36-cp36m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (155 kB)
     |████████████████████████████████| 155 kB 103.7 MB/s eta 0:00:01
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/site-packages (from requests->phoenixdb->-r requirements.txt (line 2)) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/site-packages (from requests->phoenixdb->-r requirements.txt (line 2)) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/site-packages (from requests->phoenixdb->-r requirements.txt (line 2)) (2020.6.20)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/site-packages (from requests->phoenixdb->-r requirements.txt (line 2)) (1.25.10)
Requirement already satisfied: decorator in /usr/local/lib/python3.6/site-packages (from gssapi->requests-gssapi->phoenixdb->-r requirements.txt (line 2)) (4.4.2)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.6/site-packages (from importlib-metadata; python_version < "3.8"->SQLAlchemy->phoenixdb->-r requirements.txt (line 2)) (3.3.0)
Building wheels for collected packages: requests-gssapi, gssapi
  Building wheel for requests-gssapi (setup.py) ... done
  Created wheel for requests-gssapi: filename=requests_gssapi-1.2.3-py2.py3-none-any.whl size=12531 sha256=a5d5e4a277a4637b2fb848911933e114f08e6a02c78f94d6b6f3899ba73ef30b
  Stored in directory: /home/cdsw/.cache/pip/wheels/3e/f1/05/511f2d6c5ebc8bc5cd0b4ce932f1b340b9361885318bfc879a
  Building wheel for gssapi (setup.py) ... done
  Created wheel for gssapi: filename=gssapi-1.6.13-cp36-cp36m-linux_x86_64.whl size=2922717 sha256=044549d2b750e6e78ad93394dfb379590a9e17f57c1709b9ebaf92db0b067375
  Stored in directory: /home/cdsw/.cache/pip/wheels/26/e2/7b/68004f27bfe878139e984627b9000abdb4f80433bdb91c4743
Successfully built requests-gssapi gssapi
Installing collected packages: gssapi, requests-gssapi, greenlet, SQLAlchemy, protobuf, phoenixdb
Successfully installed SQLAlchemy-1.4.18 greenlet-1.1.0 gssapi-1.6.13 phoenixdb-1.0.1 protobuf-3.17.3 requests-gssapi-1.2.3
WARNING: You are using pip version 20.2.4; however, version 21.1.2 is available.
You should consider upgrading via the '/usr/local/bin/python3.6 -m pip install --upgrade pip' command.

In [12]:
import pandas as pd

In [ ]:
class Db:
    def __init__(self):
        opts = {}
        opts['authentication'] = 'BASIC'
        opts['avatica_user'] = os.environ["WORKLOAD_USER"]
        opts['avatica_password'] = os.environ["WORKLOAD_PASSWORD"]
        database_url = os.environ["COD_ENDPOINT"]
        self.TABLENAME = "test_table_paul"
        self.conn = phoenixdb.connect(database_url, autocommit=True,**opts)
        self.curs = self.conn.cursor()
        
    def create_linkage_table(self):
        
        query = """
        CREATE TABLE IF NOT EXISTS "COD_DEMO_TABLE" (
        age VARCHAR,
        workclass VARCHAR,
        fnlwgt VARCHAR,
        education VARCHAR,
        educationnum  VARCHAR,
        marital VARCHAR,
        occupation VARCHAR,
        relationship VARCHAR,
        race  VARCHAR,
        sex VARCHAR,
        capitalgain VARCHAR,
        capitalloss VARCHAR,
        hoursperweek  VARCHAR,
        nativecountry VARCHAR)
        """
        
        self.curs.execute(query)
        
    def upsert_linkage(self, data):

        sql = """upsert into "COD_DEMO_TABLE" \
             (age,workclass,fnlwgt,education,educationnum,marital,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,nativecountry) \
             values (?,?,?,?,?,?,?,?,?,?,?,?,?,?)"""
        #print(data)
        self.curs.executemany(sql,data)
        self.conn.commit()
        
    def get_data(self):

        query = f"SELECT count(*) FROM COD_DEMO_TABLE"

        model.curs.execute(query)
        rows = model.curs.fetchall()

        return rows

In [14]:
def upsert_data(data, records=100):
        total_records=0
        header = True
        rows = []
        i=1
        model=Db()
        for index, row in data.iterrows():

            rows.append ([f"{row['age']}",\
                      f"{row['workclass']}",f"{row['fnlwgt']}",\
                      f"{row['education']}",f"{row['educationnum']}", \
                      f"{row['marital']}",f"{row['occupation']}", \
                      f"{row['relationship']}",f"{row['race']}", \
                      f"{row['sex']}",f"{row['capitalgain']}", \
                      f"{row['capitalloss']}", f"{row['hoursperweek']}", 
                      f"{row['nativecountry']}"])
            total_records=total_records+1

            if i < records + 1 :   
                i=i+1
            else :
                model.upsert_linkage(rows)
                rows = []
                i=1
                print (f"Ingested {total_records} records")

        if len(rows) > 0 :
            model.upsert_linkage(rows)

        print (f"Ingested {total_records} records")

In [15]:
pd.read_csv("adult.data").head()

,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K

In [16]:

#import logging
#logging.basicConfig( level=logging.DEBUG)

import os
import phoenixdb
model=Db()

KeyError: 'WORKLOAD_USER'

In [8]:

import logging
logging.basicConfig(level=logging.DEBUG)

#model.drop_stocks_table()
model.create_linkage_table()

NameError: name 'model' is not defined

In [9]:
import logging
logging.basicConfig(level=logging.DEBUG)

upsert_data(df)

NameError: name 'df' is not defined

In [10]:
model.get_data()

NameError: name 'model' is not defined